#stranger-things{
  position: absolute;
  margin-left: 12px;
  margin-top: 232px;
  width: 326px;
  height: 100px;
  z-index: 2;
  border: 2px solid #404040;
  box-shadow: 0 0 20px #000;
  background-color: #000;
  border-radius: 10px;
}
#stranger-things > img{
  width: auto;
  height: 84%;
  margin-top: 8px;
  margin-left: 12px;
}
#stranger-things > h4, p{
  position: relative;
  top: -65px;
  left: 80px;
}
#stranger-things > h1{
  font-size: 17px;
}
#stranger-things > p{
  font-size: 15px;
  color: #006ee7;
}

#stranger-things > img:nth-of-type(2) {
  position: relative;
  width: auto;
  height: 30px;
  top: -110px;
  left: 265px;
}